<div id="carouselExample" class="carousel slide" data-bs-wrap="false">
  <div class="carousel-inner" id="carouselList">
    <div class="carousel-item active" id="carousel1">
        <div class="container">
          <h2>Hello World</h2>
          <p>This is simple salesforce connection app<p>
        </div>
    </div>
    <div class="carousel-item" id="carousel2">
        <div class="container">
          <h2>Step 1</h2>
          <p>Register salesforce developer account<p>
        </div>
    </div>
    <div class="carousel-item" id="carousel3">
        <p>Step 2</p>
    </div>
  </div>
  <button class="carousel-control btn btn-primary" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
    <span>Previous</span>
  </button>
  <button class="carousel-control btn btn-primary" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <span>Next</span>
  </button>
</div>

<script>
</script>